# ignore node_modules folder
node_modules

# ignore all .log files in the root directory
/*.log

# coverage
.nyc_output
coverage

# JetBrains IDEs
.idea/*

# VSCode
.vscode/*

# macOS
.DS_Store

# ignore build folder in the root directory
/build
