@font-face {
  font-family: "Hussar Bold Web";
  src: url(./HussarBoldWeb.woff) format("woff");
}

.heading {
  font-family: "Hussar Bold Web", Arial, sans-serif;
  color: rgba(0, 0, 255, 0.5);
  transition: color 0.5s, opacity 0.5s;
}

.heading:hover {
  color: red;
  opacity: 1;
}

.react-logo {
  width: 200px;
  height: 200px;
  background: url(./react-logo.png) center center no-repeat;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
}

.row {
  font-family: "Hussar Bold Web", Arial, sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  lost-utility: clearfix;
}

.column {
  height: 50px;
  color: rgb(0, 0, 255);
  background-color: rgba(0, 0, 255, 0.5);
  lost-align: center;
}

.quarter {
  lost-column: 1/4 0;
}

.half {
  lost-column: 1/2 0;
}
