@font-face {
  font-family: "Hussar Bold Web";
  src: url(./HussarBoldWeb.woff) format("woff");
}

.heading {
  font-family: "Hussar Bold Web", Arial, sans-serif;
  color: blue;
  opacity: .5;
  transition: color .5s, opacity .5s;
}

.heading:hover {
  color: red;
  opacity: 1;
}

.react-logo {
  width: 200px;
  height: 200px;
  background: url(./react-logo.png) center center no-repeat;
  box-shadow: 5px 5px 15px 0px rgba(0,0,0,.5);
}

.list-item {
  lost-column: 1/4;
  background-color: red;
}
