.row {
  font-family: "Hussar Bold Web", Arial, sans-serif;
  list-style-type: none;
  margin: 0 0 2px;
  padding: 0;
  lost-utility: clearfix;
}

.column {
  height: 100px;
  color: #ededed;
  background-color: rgba(0, 0, 255, 0.5);
  lost-align: center;
}

.one-third {
  lost-column: 1/3 0 2px;
}

.two-thirds {
  lost-column: 2/3 0 2px;
}
