.nav {
  margin-right: 1px;
  display: flex;
  align-items: center;
  height: 64px;
  user-select: none;
}

.link {
  display: flex;
  margin-right: 15px;
  text-decoration: none;
  color: var(--textColor);
  transition: color 0.1s linear;
}

.link:hover {
  color: var(--linkHoverColor);
}

.activeLink {
  text-decoration: underline;
}

.icon {
  color: inherit;
  height: 16px;
  max-width: 21px;
  padding-right: 5px;
}
